## IMPORTING DEPENDENCIES

In [1]:
#link: D:\ragda\streamlit\dataset\Spaceship-titanic\train.csv

#importing dependencies 
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb

# LOADING DATASETS

In [2]:
train=pd.read_csv("./datasets/spaceship_titanic/train.csv")
test=pd.read_csv("./datasets/spaceship_titanic/test.csv")

UNDERSTANDING BOTH THE DATASETS

In [3]:
train.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

In [4]:
test.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name
0,0013_01,Earth,True,G/3/S,TRAPPIST-1e,27.0,False,0.0,0.0,0.0,0.0,0.0,Nelly Carsoning
1,0018_01,Earth,False,F/4/S,TRAPPIST-1e,19.0,False,0.0,9.0,0.0,2823.0,0.0,Lerome Peckers
2,0019_01,Europa,True,C/0/S,55 Cancri e,31.0,False,0.0,0.0,0.0,0.0,0.0,Sabih Unhearfus
3,0021_01,Europa,False,C/1/S,TRAPPIST-1e,38.0,False,0.0,6652.0,0.0,181.0,585.0,Meratz Caltilter
4,0023_01,Earth,False,F/5/S,TRAPPIST-1e,20.0,False,10.0,0.0,635.0,0.0,0.0,Brence Harperez

In [5]:
print("\033[1m Training data \033[0m \n\n")
print("-"*40)
print("\033[1m Training Data Column Info \033[0m\n")
print(train.dtypes)
print("-"*40)
print("\033[1m Training data descriptions \033[0m\n")
print(train.describe())
print("-"*40)
print("\033[1m Training Data NULL values \033[0m\n")
print(train.isnull().sum())

print("\n","*"*100,"\n")

print("\033[1m Testing data \033[0m\n\n")
print("-"*40)
print("\033[1m Testing Data Column Info \033[0m \n")
print(test.dtypes)
print("-"*40)
print("\033[1m Training data descriptions \033[0m\n")
print(test.describe())
print("-"*40)
print("\033[1m Testing Data NULL values \033[0m\n")
print(test.isnull().sum())

 Training data


----------------------------------------
 Training Data Column Info

PassengerId      object
HomePlanet       object
CryoSleep        object
Cabin            object
Destination      object
Age             float64
VIP              object
RoomService     float64
FoodCourt       float64
ShoppingMall    float64
Spa             float64
VRDeck          float64
Name             object
Transported        bool
dtype: object
----------------------------------------
 Training data descriptions

               Age   RoomService     FoodCourt  ShoppingMall           Spa  \
count  8514.000000   8512.000000   8510.000000   8485.000000   8510.000000
mean     28.827930    224.687617    458.077203    173.729169    311.138778
std      14.489021    666.717663   1611.489240    604.696458   1136.705535
min       0.000000      0.000000      0.000000      0.000000      0.000000
25%      19.000000      0.000000      0.000000      0.000000      0.000000
50%      27.000000      0.000000      0.000000      0.000000      0.000000
75%      38.000000     47.000000     76.000000     27.000000     59.000000
max      79.000000  14327.000000  29813.000000  23492.000000  22408.000000

             VRDeck
count   8505.000000
mean     304.854791
std     1145.717189
min        0.000000
25%        0.000000
50%        0.000000
75%       46.000000
max    24133.000000
----------------------------------------
 Training Data NULL values

PassengerId       0
HomePlanet      201
CryoSleep       217
Cabin           199
Destination     182
Age             179
VIP             203
RoomService     181
FoodCourt       183
ShoppingMall    208
Spa             183
VRDeck          188
Name            200
Transported       0
dtype: int64

 ****************************************************************************************************

 Testing data


----------------------------------------
 Testing Data Column Info

PassengerId      object
HomePlanet       object
CryoSleep        object
Cabin            object
Destination      object
Age             float64
VIP              object
RoomService     float64
FoodCourt       float64
ShoppingMall    float64
Spa             float64
VRDeck          float64
Name             object
dtype: object
----------------------------------------
 Training data descriptions

               Age   RoomService     FoodCourt  ShoppingMall           Spa  \
count  4186.000000   4195.000000   4171.000000   4179.000000   4176.000000
mean     28.658146    219.266269    439.484296    177.295525    303.052443
std      14.179072    607.011289   1527.663045    560.821123   1117.186015
min       0.000000      0.000000      0.000000      0.000000      0.000000
25%      19.000000      0.000000      0.000000      0.000000      0.000000
50%      26.000000      0.000000      0.000000      0.000000      0.000000
75%      37.000000     53.000000     78.000000     33.000000     50.000000
max      79.000000  11567.000000  25273.000000   8292.000000  19844.000000

             VRDeck
count   4197.000000
mean     310.710031
std     1246.994742
min        0.000000
25%        0.000000
50%        0.000000
75%       36.000000
max    22272.000000
----------------------------------------
 Testing Data NULL values

PassengerId       0
HomePlanet       87
CryoSleep        93
Cabin           100
Destination      92
Age              91
VIP              93
RoomService      82
FoodCourt       106
ShoppingMall     98
Spa             101
VRDeck           80
Name             94
dtype: int64

## DATA PREPROCESSING

In [6]:
#train.fillna(method='ffill',inplace=True)

In [7]:
train['Age']=train['Age'].convert_dtypes(infer_objects=True,convert_integer=True)
train['RoomService']=train['RoomService'].convert_dtypes(infer_objects=True,convert_integer=True)
train['FoodCourt']=train['FoodCourt'].convert_dtypes(infer_objects=True,convert_integer=True)
train['ShoppingMall']=train['ShoppingMall'].convert_dtypes(infer_objects=True,convert_integer=True)
train['Spa']=train['Spa'].convert_dtypes(infer_objects=True,convert_integer=True)
train['VRDeck']=train['VRDeck'].convert_dtypes(infer_objects=True,convert_integer=True)

In [8]:
#checking Unique values

selected_columns = ['HomePlanet', 'CryoSleep', 'Cabin', 'Destination','VIP','Transported']

# Print unique values for each specified column
for column in selected_columns:
    unique_values = train[column].unique()
    print(f"Unique values in {column}: {unique_values}")

Unique values in HomePlanet: ['Europa' 'Earth' 'Mars' nan]
Unique values in CryoSleep: [False True nan]
Unique values in Cabin: ['B/0/P' 'F/0/S' 'A/0/S' ... 'G/1499/S' 'G/1500/S' 'E/608/S']
Unique values in Destination: ['TRAPPIST-1e' 'PSO J318.5-22' '55 Cancri e' nan]
Unique values in VIP: [False True nan]
Unique values in Transported: [False  True]

In [9]:
#changing values of Homeplanet
# 1-Europa
# 2-Earth
# 3-Mars
# 4-nan
planet_mapping = {'Europa': 0, 'Earth': 1, 'Mars': 2, pd.NA: 3}
# Apply the mapping to the 'Homeplanet' column
train['HomePlanet'] = train['HomePlanet'].map(planet_mapping)
###################################################################################################################

CRYO_VIP_mapping={'False': 0, 'True': 1, pd.NA: 4}                                                                  
train['CryoSleep']=train['CryoSleep'].map(CRYO_VIP_mapping)                                                      
train['VIP']=train['VIP'].map(CRYO_VIP_mapping)

###################################################################################################################

Destination_mapping={'TRAPPIST-1e': 0, 'PSO J318.5-22': 1, '55 Cancri e':2, pd.NA: 3}
train['Destination']=train['Destination'].map(Destination_mapping)

###################################################################################################################

transported_mapping={'False': 0,  'True':1}
train['Transported']=train['Transported'].map(transported_mapping)

###################################################################################################################

In [10]:
train['HomePlanet']=train['HomePlanet'].convert_dtypes(infer_objects=True,convert_integer=True)
train['CryoSleep']=train['CryoSleep'].convert_dtypes(infer_objects=True,convert_integer=True)
train['VIP']=train['VIP'].convert_dtypes(infer_objects=True,convert_integer=True)
train['Destination']=train['Destination'].convert_dtypes(infer_objects=True,convert_integer=True)
train['Transported']=train['Transported'].convert_dtypes(infer_objects=True,convert_integer=True)

In [11]:
train.dtypes

PassengerId     object
HomePlanet       Int64
CryoSleep        Int64
Cabin           object
Destination      Int64
Age              Int64
VIP              Int64
RoomService      Int64
FoodCourt        Int64
ShoppingMall     Int64
Spa              Int64
VRDeck           Int64
Name            object
Transported      Int64
dtype: object

In [12]:
train.columns

Index(['PassengerId', 'HomePlanet', 'CryoSleep', 'Cabin', 'Destination', 'Age',
       'VIP', 'RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck',
       'Name', 'Transported'],
      dtype='object')

In [13]:
train['HomePlanet']=train['HomePlanet'].convert_dtypes( convert_integer=True)
train['CryoSleep']=train['CryoSleep'].convert_dtypes( convert_integer=True)
train['Destination']=train['Destination'].convert_dtypes(infer_objects=True, convert_integer=True)
train['VIP']=train['VIP'].convert_dtypes(infer_objects=True, convert_integer=True)

In [14]:
train['Sector']=train['Cabin'].str.split('/',expand=True)[0]
train['Wing']=train['Cabin'].str.split('/',expand=True)[2]
train['Wing']=train['Wing'].replace({'P':0, 'S':1})

In [15]:
train['Sector'].unique()

array(['B', 'F', 'A', 'G', nan, 'E', 'D', 'C', 'T'], dtype=object)

In [16]:
train.dtypes

PassengerId      object
HomePlanet        Int64
CryoSleep         Int64
Cabin            object
Destination       Int64
Age               Int64
VIP               Int64
RoomService       Int64
FoodCourt         Int64
ShoppingMall      Int64
Spa               Int64
VRDeck            Int64
Name             object
Transported       Int64
Sector           object
Wing            float64
dtype: object

In [17]:
train=train.drop(['Cabin','Name','PassengerId'],axis=1)

In [18]:
train.dtypes

HomePlanet        Int64
CryoSleep         Int64
Destination       Int64
Age               Int64
VIP               Int64
RoomService       Int64
FoodCourt         Int64
ShoppingMall      Int64
Spa               Int64
VRDeck            Int64
Transported       Int64
Sector           object
Wing            float64
dtype: object